.navbar-brand, .nav:last-child a{
  color: white;
}

.mr-100 {
  margin-right: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.bg-blue {
  background-color: #2c3e50;
}

.mt-50 {
  margin-top: 50px;
}

#under-nv {
  background-color: #1abc9c;
  width: 100%;
  height: 400px;
  color: white;
}

.col-lg-3 {
  background-color: yellow;
  height: 200px;
}
